:root {
  --orange: #d2872c;
  --grey: #766f68;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 980px;
  margin: auto;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li.logo{
  color: var(--orange);
  font-size: 30px;
  font-weight: 500;
}

header nav ul.nav  {
  display: flex;
  font-size: 25px;
}

header nav ul.nav li{
}

header nav ul.nav li a {
  text-decoration: none;
  color: var(--grey);
  margin-left: 20px;
  transition: 0.5s;
}

header nav ul.nav li a:hover{
  color: var(--orange);
  font-weight: 500;
}

header nav ul.nav li:first-child{
  margin-left: 0;
}

section {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

section div.main {
  margin-top: -60px;
  margin-left: 70px;
  margin-right: -140px;
  z-index: 2;
}

section div.main h1 {
  font-size: 50px;
  color: var(--grey);
  font-weight: 500;

}

section div.main h2 {
  font-size: 25px;
  color: var(--grey);
  font-weight: 400;
}

section div.main button {
  margin-top: 20px;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  border: 0;
  background: var(--orange);
  color: #fff;

  font-size: 20px;

  transition: 0.5s;
}

section div.main button:hover{
  background: var(--grey);
  color: #fff;
}

section div img {
    width: 600px;
}